<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="watcher" type="MyBodyShape.Watcher.Configuration.Impl.BodyShapeWatcherConfigurationSection, MyBodyShape.Watcher" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <watcher folderlog="Logs" timerinterval="10" smsenabled="true" smsapisid="ACb779d82c909fc6297738b48c5834df51" smsapitoken="f928b5d78e3267a410475454ce267f22" smsapinumber="+33644646687">
    <recipients>
      <recipient phone="+33668169433" />
      <!--<recipient phone="+33625416847" />-->
    </recipients>
  </watcher>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BodyShapeContext" connectionString="data source=DESKTOP-81NNMUE\SQLSERVER2012;initial catalog=BodyShape;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>